mapapi/src/main/resources/wsdl/countries.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://spring.io/guides/gs-producing-web-service"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
	<wsdl:types>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">
			<xs:complexType name="countryInfo">
				<xs:sequence>
					<xs:element name="id" type="xs:long"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="population" type="xs:long"/>
					<xs:element name="capital" type="xs:string"/>
					<xs:element name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="serviceStatus">
				<xs:sequence>
					<xs:element name="status" type="xs:string"/>
					<xs:element name="message" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getCountryByIdRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:long"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getCountryRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getCountryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="countryInfo" type="tns:countryInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="createCountryRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="countryInfo" type="tns:countryInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="createCountryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="serviceStatus" type="tns:serviceStatus"/>
						<xs:element name="countryInfo" type="tns:countryInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCountryResponse">
		<wsdl:part element="tns:getCountryResponse" name="getCountryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCountryRequest">
		<wsdl:part element="tns:getCountryRequest" name="getCountryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createCountryRequest">
		<wsdl:part element="tns:createCountryRequest" name="createCountryRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCountryByIdRequest">
		<wsdl:part element="tns:getCountryByIdRequest" name="getCountryByIdRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createCountryResponse">
		<wsdl:part element="tns:createCountryResponse" name="createCountryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CountriesPort">
		<wsdl:operation name="createCountry">
			<wsdl:input message="tns:createCountryRequest" name="createCountryRequest"></wsdl:input>
			<wsdl:output message="tns:createCountryResponse" name="createCountryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCountryById">
			<wsdl:input message="tns:getCountryByIdRequest" name="getCountryByIdRequest"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createCountry">
			<soap:operation soapAction=""/>
			<wsdl:input name="createCountryRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createCountryResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCountryById">
			<soap:operation soapAction=""/>
			<wsdl:input name="getCountryByIdRequest">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CountriesPortService">
		<wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
			<soap:address location="http://localhost:8080/ws"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>