demo/src/main/resources/country.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">


    <xs:complexType name="countryInfo">
        <xs:sequence>
            <xs:element name="id" type="xs:long" />
            <xs:element name="name" type="xs:string"/>
            <xs:element name="population" type="xs:long"/>
            <xs:element name="capital" type="xs:string"/>
            <xs:element name="currency" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="serviceStatus">
		<xs:sequence>
			<xs:element name="status" type="xs:string" />
			<xs:element name="message" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

    <xs:element name="getCountryByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countryInfo" type="tns:countryInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countryInfo" type="tns:countryInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus" />
                <xs:element name="countryInfo" type="tns:countryInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>